<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Node</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    {{{body}}}
    <footer>
        <p>2024 Todos os direitos reservados</p>
    </footer>
</body>
</html>