<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar conta</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="login">
    <h1>Curso de Node</h1>
    <section class="signup">
        <form method="POST" action="/create">
            <label for="name">Nome de usuário</label>
            <input type="text" name="name" id="name" />
            <label for="password">Senha</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="signup">
        </form>
    </section>
</body>
</html>